In [0]:
SELECT state_abbr,
       SUM(CAST(
         REPLACE(`GHG emissions mtons CO2e`, ',', '') 
         AS DOUBLE
       )) AS Total_Emission
FROM emissions_data
GROUP BY state_abbr
ORDER BY Total_Emission DESC
LIMIT 10